.section login{
    float: left;
    margin-right: 1000px;
    width: 100px;
    padding: 50px;
    margin: -15px;
    height: 50px;
    text-align: right;
}
.dau1{
    background-color: #FFFFCC;
}
.section login{
    float: left;
    margin-right: 1000px;
    width: 100px;
    padding: 50px;
    margin: -15px;
    height: 50px;
    text-align: right;
}
.dau1{
    background-color: #FFFFCC;
}
.dau2{
    float: right;
}
