.section login{
    float: left;
    margin-right: 1000px;
    width: 100px;
    padding: 50px;
    margin: -15px;
    height: 50px;
    text-align: right;
}
.dau1{
    background-color: #FFFFCC;
}
.section login{

    margin-right: 1000px;
    width: 100px;
    padding: 50px;
    margin: -15px;
    height: 50px;
    text-align: right;
    background-color: #FFFFCC;
}
.dau1{
    background-color: #FFFFCC;

}
.dau3 {
    background-color: #ffffcc;
    text-align: center;

}
.box {
    margin-top: 10px;

}