{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    float: left;
    width: 10%;
}
.toplinks{
    float: right;
    width: 100%;
}
.logo{
    font-size: 28px;
    color: #222222;
    text-decoration: none;
    font-weight: 700;
}
.logo p{
    font-size: 16px;
    color: gray;
}
.toplinks ul{
    float: right;
}
.toplinks li{
    float: right;
    list-style: none;
    margin-left: 20px;
}
.toplinks a{
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    text-decoration: none;
    line-height: 69px;
}
.nav{
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px;
}

